body {

  background-image: url('/public/logo_pratica_branco.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 300px;
  background-color: rgb(5, 58, 151);
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}



.container {
  text-align: center;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}


.theme-button {
  background-color: #040111;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}



.theme-button:hover {
  background-color: #555;
}

.action-button {
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.edit-button {
  background-color: #28a745;
}

.edit-button:hover {
  background-color: #218838;
}

.details-button {
  background-color: #075aff;
}

.details-button:hover {
  background-color: #2944b3;
}

.scrollable {
  max-height: 600px;
  overflow-y: auto;
}