.technician-list-container {
  max-width: 800px;
  margin: 0 auto;
}

.add-technician-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #007BFF;
}

.technician-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #27292a;
}


.technician-table th,
.technician-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #27292a;

}

.technician-table th {
  background-color: #27292a;
}

.view-technician-link,
.edit-technician-link {
  margin-right: 10px;
  text-decoration: none;
  color: #28a745;
}

.delete-technician-button {
  background-color: red;
}


/* Adicione este bloco ao design.css */
.delete-button {
  background-color: red;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.delete-button:hover {
  background-color: #990000;
}