.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.form-button-cancel {
  background-color: #B72808;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-message {
  margin-top: 20px;
  font-size: 16px;
}

.link-back {
  display: block;
  margin-top: 20px;
  color: #007BFF;
  text-decoration: none;
}